@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
    --black: #1B1722;
    --white: #F0F0F0;
    --gray:	#DCDCDC;
    --green: #00897F;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.logoContent img{
    width: 70px;  
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}

.header .logoContent{
    display: flex;
    align-items: center;
}

.header .logoContent.logoName{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: 500;
}

.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;

}

.header .icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    right: 0;
    width: 250px;
    height: 3.5rem;
    position: absolute;
}

.header .search .input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}

.header .search.active{
    display: inline-block;
}

#menu-bar{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/back.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.home .homeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}

.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.home .homeContent .home-btn{
    height: 3rem;
}

.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}

.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--black);
    

}

.product .row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.product .product-row .box{
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: var(--gray);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 3rem;
    margin-right: 3rem;
    
}

/* .product .product-row .img img{
    height: 100%;
    width: 100%;
} */

.product .product-row .img img:hover{
    transform: scale(1.1);
}

.product .product-row .content{
    margin-bottom: 4rem;
}

.product .product-row .product-content h3{
    font-size: 4rem;
    color: var(--black);
}

.product .product-row .product-content p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--black);
}

.product .product-row .product-content .orderNow{
    height: 3rem;
    margin-top: 2rem;
}

.product .product-row .product-content .orderNow button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;

}

.product .product-row .product-content .orderNow button:hover{
    font-size: 2rem;
}

.swiper-pagination-bullet{
    background-color: var(--black);
}

.product .img img {
  width: 200px;   /* diminui a largura */
  height: 200px;  /* mantém altura igual para não deformar */
  object-fit: cover; /* mantém o corte proporcional */
  border-radius: 50%; /* deixa a imagem circular */
  display: block;
   /* centraliza */
}

.blogs{
    background: url(images/back2.jpg);
    background-size: cover;
    background-position: center center;
}

.blogs .img img{
    width: 400px;   /* diminui a largura */
  height: 400px;  /* mantém altura igual para não deformar */
  object-fit: cover; /* mantém o corte proporcional */
  border-radius: 50%; /* deixa a imagem circular */
  display: block;
}

.blogs .blogs-row .box{
    display: flex;
    align-items: center;
    background-color: var(--white);
    flex-wrap: wrap;
}

.blog .blogs-row .box .img{
    flex: 1 1 45rem;
}

.blogs .blogs-row .box .img img{
    padding: 5rem;
}

.blogs .blogs-row .box .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.blogs .blogs-row .box .content h3{
    font-size: 3.5rem;
    color: var(--black);
}

.blogs .blogs-row .box .content p{
    font: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8rem;
}

.blogs .blogs-row .box .content a{
    font-size: 2rem;
    cursor: pointer;
}

.blogs .blogs-row .box .content a:hover{
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.newsletter{
    background: url(images/doce2.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 45rem;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: .7rem;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    color: var(--black);
    border-radius: .5rem;
}

.newsletter form img {
  image-rendering: auto;
}

.newsletter form .box2{
    width: 30%;
    font-size: 2rem;
    margin-top: 1rem;
    margin: .5rem .5rem;
    color: var(--white);
    background: var(--black);
    border-radius: 3rem;
    cursor: pointer;
}

.review .review-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

.review .review-row .box{
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--white);
    width: 50%;
    margin-bottom: 3rem;
    box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review{
    margin-bottom: 3rem;
}

.review .review-row .box .client-review p{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}

.review .review-row .box .client-info{
    display: flex;
    align-items: center;
}

.review .review-row .box .client-info .img{
    padding-right: 3rem;
}

.review .review-row .box .client-info .img img{
    width: 7rem;
    height: 7rem;
    clip-path: circle(50% at 50% 50%);
}

.review .review-row .box .client-info .clientDetailed h3{
    font-size: 2.5rem;
}

.review .review-row .box .client-info .clientDetailed p{
    font-size: 1.5rem;

}

.footer .box-container .mainBox .content img{
    width: 9rem;
    height: 9rem;
}

.footer {
    background-color: var(--green);
}











.swiper-pagination-bullet{
    background-color: var(--black);
}

.swiper-button-next{
    color: var(--black);
}

.swiper-button-prev{
    color: var(--black);
}














@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }

    .home .homeContent {
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        color: var(--black);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;       
    }

    .home .homeContent {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}

